@use "./../01-abstracts/" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 15px;
  background-color: var(--color-btn-bg);
  color: var(--color-btn-font);
  border: 0;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease-out;

  &:hover {
    background-color: var(--color-btn-bg--hover);
  }

  &_icon {
    margin-right: 11px;
    text-align: center;
  }
}
