// Colors
:root {
  --color-bg-1: #f2eae2;
  --color-bg-2: #fff;
  --color-font-1: #1c232b;
  --color-font-2: #6c7289;
  --color-highlight: #3d8168;
  --color-btn-bg: #3d8168;
  --color-btn-bg--hover: #1a4032;
  --color-btn-font: #fff;
}

// Fonts
$family-font-body: "Montserrat", sans-serif;
$family-font-heading: "Fraunces", serif;

// Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;
